<!DOCTYPE html>
<html lang="en">
<head>

    <%- include( "../partials/head" ) %>
    <link href="/css/productCreateStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "../partials/header" ) %>

    <main>

        <div class="pagina-titulo">
            <h1>Editar Producto</h1>
        </div>

        <div class="form-new">

            <div class="errores">
                <ul class="validaciones">
                </ul>
            </div>
            
            <form class="form_product" action="/products/<%=producto.product_id%>?_method=PUT" method="POST">

                <div>
                    <label for="nombre" class="label">Nombre</label>
                    <input class="input-text nombre" type="text" name="nombre" value="<%=producto.product_name%>">
                </div>
                <div>
                    <label for="precio" class="label">Precio</label>
                    <input class="input-text" type="number" step=".01" name="precio" value="<%=producto.product_price%>">
                </div>
                <div>
                    <label for="desc" class="label">Descripción</label>
                    <textarea name="desc" maxlength="40" class="desc"><%=producto.product_desc%></textarea>
                </div>
                <div>
                    <label for="categoria" class="label">Categoría</label>
                    <select name="categoria">
                        <% for (let i = 0; i < categorias.length; i++) { %>

                            <option value="<%=categorias[i].category_id%>" <% if(producto.product_category_info.category_name == categorias[i].category_name) { %> selected <% } %> ><%=categorias[i].category_name%></option>

                        <% } %>
                    </select>
                </div>
                <div>
                    <label for="tipo" class="label">Tipo: </label>
                    <select name="tipo">
                        <% for (let i = 0; i < tipos.length; i++) { %>

                            <option value="<%=tipos[i].category_type_id%>" <% if(producto.product_type_info.category_type_name == tipos[i].category_type_name) { %> selected <% } %> ><%=tipos[i].category_type_name%></option>

                        <% } %>
                    </select>
                </div>
                <div>
                    <label for="talla" class="label">Tallas</label>
                    <% for (let i = 0; i < tallas.length; i++) { %>

                        <input type="checkbox" value="<%=tallas[i].size_id%>" name="talla" <% for (let l = 0; l < producto.product_sizes_info.length; l++) { %>
                            <% if(producto.product_sizes_info[l].size_name == tallas[i].size_name ) { %> checked <% } %> <% } %>  > <%=tallas[i].size_name%>
                    <% } %>
                </div>
                <div>
                    <label for="color" class="label">Colores</label>
                    <% for (let i = 0; i < colores.length; i++) { %>

                        <input type="checkbox" value="<%=colores[i].color_id%>" name="color" 
                        <% for (let l = 0; l < producto.product_colors_info.length; l++) { %>
                            <% if(producto.product_colors_info[l].color_name == colores[i].color_name ) { %> checked <% } %> <% } %>  > <%=colores[i].color_name%>
                    <% } %>
                </div>
                <div>
                    <label for="mainPic" class="label">Imagen</label>
                    <p class="current-img"><%=producto.product_image%></p>
                    <input class="mainPic" type="file" accept="image/*" name="mainPic">
                </div>
                <div>
                    <label for="thumbnail" class="label">Thumbnail</label>
                    <p class="current-img"><%=producto.product_thumbnail%></p>
                    <input class="thumbnail" type="file" accept="image/*" name="thumbnail">
                </div>
                <div>
                    <label for="alt" class="label">Texto Alternativo</label>
                    <input class="input-text" type="text" name="alt" value="<%=producto.product_alt%>">
                </div>
                <button type="submit">Guardar</button>
            </form>
            <form class="product-delete" action="/products/<%=producto.product_id%>?_method=DELETE" method="POST">
                <button type="submit" class="button-borrar">Borrar producto</button>
            </form>

        </div>
        
    </main>

    <script src="/js/validacionProducts.js" type="text/javascript"></script>

    <%- include( "../partials/footer" ) %>
    
</body>
</html>