<!DOCTYPE html>
<html lang="en">
<head>

    <%- include( "../partials/head" ) %>
    <link href="/css/productCreateStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "../partials/header" ) %>

    <main>

        <div class="pagina-titulo">
            <h1>Producto Nuevo</h1>
        </div>

        <div class="form-new">
            
            <form action="/products" method="POST" enctype="multipart/form-data">

                <div>
                    <label for="nombre" class="label">Nombre</label>
                    <input class="input-text" type="text" name="nombre">
                </div>
                <div>
                    <label for="precio" class="label">Precio</label>
                    <input class="input-text" type="number" step=".01" name="precio">
                </div>
                <div>
                    <label for="desc" class="label">Descripción</label>
                    <textarea name="desc" maxlength="40"></textarea>
                </div>
                <div>
                    <label for="categoria" class="label">Categoría</label>
                    <select name="categoria">
                        <% for (let i = 0; i < detalles.categorias.length; i++) { %>

                            <option value="<%=detalles.categorias[i]%>"><%=detalles.categorias[i]%></option>

                        <% } %>
                    </select>
                </div>
                <div>
                    <label for="tipo" class="label">Tipo: </label>
                    <select name="tipo">
                        <% for (let i = 0; i < detalles.tipos.length; i++) { %>

                            <option value="<%=detalles.tipos[i]%>"><%=detalles.tipos[i]%></option>

                        <% } %>
                    </select>
                </div>
                <div>
                    <label for="talla" class="label">Tallas</label>
                    <% for (let i = 0; i < detalles.tallas.length; i++) { %>

                        <input type="checkbox" value="<%=detalles.tallas[i]%>" name="talla"><%=detalles.tallas[i]%>

                    <% } %>
                </div>
                <div>
                    <label for="color" class="label">Colores</label>
                    <% for (let i = 0; i < detalles.colores.length; i++) { %>

                        <input type="checkbox" value="<%=detalles.colores[i]%>" name="color"><%=detalles.colores[i]%>

                    <% } %>
                </div>
                <div>
                    <label for="mainPic" class="label">Imagen</label>
                    <input type="file" accept="image/*" name="mainPic">
                </div>
                <div>
                    <label for="thumbnail" class="label">Thumbnail</label>
                    <input type="file" accept="image/*" name="thumbnail">
                </div>
                <div>
                    <label for="alt" class="label">Texto alternativo</label>
                    <input class="input-text" type="text" name="alt">
                </div>
                <div>
                <button type="submit">Agregar</button>
                </div>
            </form>

        </div>
        
    </main>

    <%- include( "../partials/footer" ) %>
    
</body>
</html>