<!DOCTYPE html>
<html lang="en">
<head>

    <%- include( "../partials/head" ) %>
    <link href="/css/productListStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "../partials/header" ) %>

    <main>

        <div class="categoria-titulo">
            <h1>Productos</h1>
        </div>

        <section id="productos">

            <% for (let i = 0; i < productos.length; i++) { %>

            <article class="producto">
                
                <a href="/products/<%=productos[i].product_id%>">
                <div class="foto-producto">
                    <img src="<%=productos[i].product_thumbnail%>" alt="<%=productos[i].product_alt%>">
                </div>
                <p class="titulo-producto"><%=productos[i].product_name%></p>
                <p class="descripcion-producto"><%=productos[i].product_desc%></p>
                <p class="precio-producto">$<%=productos[i].product_price%></p>
                </a>
            
            </article>

            <% } %>
            
        </section>
        
    </main>

    <%- include( "../partials/footer" ) %>
    
</body>
</html>