<!DOCTYPE html>
<html lang="en">
<head>

    <%- include( "../partials/head" ) %>
    <link href="/css/productStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "../partials/header" ) %>

    <main>

        <div class="breadcrumbs">

            <ul>
                
                <li><a href=""><%=producto.breadcrumb[0]%></a></li>
                <li><i class="fas fa-chevron-right"></i></li>
                <li><a href=""><%=producto.breadcrumb[1]%></a></li>
                <li><i class="fas fa-chevron-right"></i></li>
                <li><a href=""><%=producto.nombre%></a></li>

            </ul>

        </div>

        <section class="product-area">

            <div class="product-info mobile flex-items">

                <h1 class="titulo-producto"><%=producto.nombre%> <a href="/products/<%=producto.id%>/edit"><i class="fas fa-pen"></i></a></h1>
                <p class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></p>
                <p class="precio-producto">$<%=producto.precio%></p>
                <p class="descripcion-producto"><%=producto.desc%></p>

            </div>

            <div class="product-photos flex-items">

                <div class="side-pics">

                    <div class="side-pic">
                        <img src="<%=producto.sidePic%>">
                    </div>

                    <div class="side-pic">
                        <img src="<%=producto.sidePic%>">
                    </div>

                    <div class="side-pic">
                        <img src="<%=producto.sidePic%>">
                    </div>

                </div>

                <div class="main-pic">

                    <img src="<%=producto.mainPic%>">

                </div>

            </div>

            <div class="product-details flex-items">
                
                <div class="product-info desktop">

                    <h1 class="titulo-producto"><%=producto.nombre%> <a href="/products/<%=producto.id%>/edit"><i class="fas fa-pen"></i></a></h1>
                    <p class="star-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i></p>
                    <p class="precio-producto">$<%=producto.precio%></p>
                    <p class="descripcion-producto"><%=producto.desc%></p>

                </div>

                <div class="product-selection">
                    
                    <form action="" method="">

                        <div class="product-size">

                            <label for="size">Talla</label>

                            <% for (let i = 0; i < producto.tamano.length; i++) { %>

                            <div class="sizes">
                                <input type="radio" value="<%=producto.tamano[i]%>" name="size" id="size"> <%=producto.tamano[i]%> 
                            </div>

                            <% } %>

                        </div>

                        <div class="product-selections">

                            <div class="product-count">

                                <label for="count">Cantidad</label>

                                <select name="count">

                                    <% for (let i = 1; i <= 10; i++) { %>

                                    <option value="<%=i%>"><%=i%></option>
                                    
                                    <% } %>

                                </select>

                            </div>

                            <div class="product-color">

                                <label for="color">Color</label>
                                <select name="color">

                                    <% for (let i = 0; i < producto.color.length; i++) { %>

                                    <option value="<%=producto.color[i]%>"><%=producto.color[i]%></option>

                                    <% } %>

                                </select>

                            </div>

                        </div>

                        <div class="product-buttons">

                            <button type="submit" id="carrito">Agregar a carrito</button>
                            <button type="button" id="favoritos">Favoritos</button>

                        </div>

                    </form>

                </div>

            </div>

            <aside class="delivery-details flex-items">

                <p>Envíos gratuitos en compras superiores a $999.</p>
                <p>Los envíos tardan usualmente de una a dos semanas. 
                Las entregas pueden presentar un retraso. 
                Puedes consultar el estatus de tu pedido aquí.
                </p>
                <p>Envíos y devoluciones gratis para miembros de Activ.</p>

            </aside>

        </section>

        <section id="productos-parecidos">

            <h2>Articulos parecidos</h2>

            <% for (let i = 0; i < 4; i++) { %>

            <article class="producto-parecido">
                
                <a href="/products/<%=productos[i].id%>">
                <div class="foto-parecido">
                    <img src="<%=productos[i].thumbnail%>" alt="<%=productos[i].alt%>">
                </div>
                <p class="titulo-producto"><%=productos[i].nombre%></p>
                <p class="descripcion-producto"><%=productos[i].desc%></p>
                <p class="precio-producto">$<%=productos[i].precio%></p>
                </a>
            
            </article>

            <% } %>
            
        </section>

        <section class="reviews">

            <h2>Reseñas</h2>

            <div class="user-reviews">

                <% for (let i = 0; i < review.length; i++) { %>

                <div class="user-review">

                    <p class="review-title"><%=review[i].titulo%></p>
                    <p class="star-rating"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                    <p class="review-desc"><%=review[i].desc%></p>
                    <p class="review-user">@<%=review[i].usuario%></p>
                    <hr>

                </div>

                <% } %>

            </div>

            <div class="new-review">

                <p>¡Deja tu reseña!</p>

                <form action="" method="">

                    <div class="input-stars">

                        <p class="star-rating"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>

                    </div>

                    <div class="input-title">

                        <input type="text" placeholder="Titulo" name="review-title">

                    </div>

                    <div class="input-desc">

                        <textarea placeholder="Tu reseña" name="review-desc"></textarea>

                    </div>

                    <div>

                        <button type="submit">Publicar</button>

                    </div>

                </form>

            </div>

        </section>

    </main>

    <%- include( "../partials/footer" ) %>
    
</body>
</html>