<!DOCTYPE html>
<html lang="en">
<head>

    <%- include( "./partials/head" ) %>
    <link href="/css/indexStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "./partials/header" ) %>

    <main>

        <div id="slideshow-container">

            <div id="slideshow-img">
                <img src="/images/carousel0.jpg" alt="clase-de-yoga">
            </div>

            <div id="slideshow-text">
                <p>Entrena y da lo mejor de ti</p>
                <button class="especial">Empieza ya</button>
            </div>

        </div>

        <section id="productos-categorias">

            <h2>Popular ahora</h2>
            
            <article class="categoria">

                <div class="foto">
                    <img src="/images/tenis.jpg" alt="tenis">
                    <div class="overlay"></div>
                </div>
                <p class="titulo-categoria">Tenis</p>
            </article>

            <article class="categoria">
                <div class="foto">
                    <img src="/images/ropa.jpg" alt="ropa">
                    <div class="overlay"></div>
                </div>
                <p class="titulo-categoria">Ropa</p>
            </article>

            <article class="categoria">
                <div class="foto">
                    <img src="/images/accesorios.jpg" alt="tenis">
                    <div class="overlay"></div>
                </div>
                <p class="titulo-categoria">Accesorios</p>
            </article>

        </section>

        <div id="invitacion-registro">

            <p>¡Sé parte de nuestra comunidad para obtener descuentos!</p>
            <a href="user/register/"><button>Unirme</button></a>

        </div>

        <section id="productos-favoritos">

            <h2>Los favoritos</h2>

            <div class="arrow">
                <i class="fas fa-chevron-left"></i>
            </div>

            <% for (let i = 0; i < 4; i++) { %>

            <article class="producto-favorito">
                
                <a href="/products/<%=productos[i].product_id%>">
                <div class="foto-favorito">
                    <img src="<%=productos[i].product_thumbnail%>" alt="<%=productos[i].product_alt%>">
                </div>
                <p class="titulo-producto"><%=productos[i].product_name%></p>
                <p class="descripcion-producto"><%=productos[i].product_desc%></p>
                <p class="precio-producto">$<%=productos[i].product_price%></p>
                </a>
            
            </article>

            <% } %>

            <div class="arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
            
        </section>

    </main>

    <%- include( "./partials/footer" ) %>
    
</body>
</html>