<!DOCTYPE html>
<html lang="en">
<head>

    <%- include( "../partials/head" ) %>
    <link href="/css/profileStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "../partials/header" ) %>

    <main>

        <div class="pagina-titulo">
            <h1>Mi perfil</h1>
        </div>

        <section class="perfil">
                <div class="datos">
                    <div class="user-img">
                        <img src="<%=user.user_avatar%>">
                    </div>
                    <div class="user-info">
                        <h3><%=user.user_firstname%> <%=user.user_lastname%></h3> <a href="/user/<%=user.user_id%>/edit"><i class="fas fa-pen i-especial"></i></a>
                        <p> <span class="bold">Tipo:</span> <%=user.user_type_info.user_type_name%></p>
                        <p> <span class="bold">Fecha Nac.:</span> <%=user.user_dob%></p>
                        <p><i class="fas fa-envelope"></i> <%=user.user_email%></p>
                    </div>
                </div>
        </section>

        <section id="productos-parecidos">

            <h2>Tus favoritos</h2>

            <% for (let i = 0; i < 4; i++) { %>

            <article class="producto-parecido">
                
                <a href="/products/<%=productos[i].product_id%>">
                <div class="foto-parecido">
                    <img src="<%=productos[i].product_thumbnail%>" alt="<%=productos[i].product_alt%>">
                </div>
                <p class="titulo-producto"><%=productos[i].product_name%></p>
                <p class="descripcion-producto"><%=productos[i].product_desc%></p>
                <p class="precio-producto">$<%=productos[i].product_price%></p>
                </a>
            
            </article>

            <% } %>
            
        </section>
        
    </main>

    <%- include( "../partials/footer" ) %>
    
</body>
</html>