<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( "../partials/head" ) %>
    <link href="/css/registerStyle.css" rel="stylesheet"/>
    
</head>
<body>

    <%- include( "../partials/header" ) %>

    <main>

        <section class="caja-main">

            <div class="caja-registro">
                <h2>Editar Perfil</h2>

                <form action="/user/<%=user.user_id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <p class="field">
                        <label for="nombre">Nombre:</label>
                        <input class="input-text" type="text" name="nombre" value="<%=user.user_firstname%>">
                    </p>
                    <p class="field">
                        <label for="apellido">Apellido:</label>
                        <input class="input-text" type="text" name="apellido" value="<%=user.user_lastname%>">
                    </p>
                    <p class="field">
                        <label for="fecha">Fecha de nacimiento:</label>
                        <input class="input-text" type="date" name="fecha" value="<%=user.user_dob%>">
                    </p>
                    <p class="field">
                        <label for="correo">Correo:</label>
                        <input class="input-text" type="email" name="correo" value="<%=user.user_email%>">
                    </p>

                    <div class="field">
                        <label for="imagen">Foto de perfil:</label>
                        <p class="current-img"><%=user.user_avatar%></p>
                        <input type="file" accept="image/*" name="imagen">
                    </div>

                    <button class="button-especial" type="submit">Agregar</button>

                </form>


            </div>

        </section>

        <div class="caja-img">
                
            <div id="slideshow-container">

                <div id="slideshow-img">
                    <img src="/images/hombremujer.jpg" alt="jumper">
                </div>
    
            </div>
        </div>

        
    </main>

    <%- include( "../partials/footer" ) %>
    
</body>
</html>